<h2>{{this.model.Name}}</h2>
<p><strong>userId:</strong> {{this.model.userId}}</p>
<p><strong>Email:</strong> {{this.model.emailId}}</p>
<p><strong>Mobile:</strong>{{this.model.Mobile}}</p>
<p><strong>Address:</strong> {{this.model.Address}}</p>